@import "constants";
@import "fonts";
@import "components";

body {
  background-color: $color-raisin-black;
  font-family: $font-family-paragraph;
  color: $font-color;
  margin: 0;
  padding: 0;
  font-weight: $font-normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

p {
  margin: 1em 0;
}

.header-font {
  font-family: $font-family-header;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 1em;
}

.helper-text {
  font-family: $font-family-paragraph;
  font-weight: $font-normal;
}

$outline-basic: 2px dashed $accent-color-important;
$outline-offset-basic: 0.25rem;

a, input, button {
  outline: 2px dashed transparent;
  &:focus {
    outline-offset: 0.25rem;
    outline-color: $accent-color-important;
  }
}

strong {
  color: $accent-color-important;
  font-weight: $font-semi-bold;
}

::selection {
  background-color: rgba($accent-color-important, 0.8);
  color: $font-color;
}

* {
  &::-webkit-scrollbar {
    background-color: rgba($background-color-1, 0.1);
    width: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($action-color, 0.4);
    &:hover {
      background-color: rgba($action-color, 0.8);
    }
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}