// https://coolors.co/afd0bf-ffa686-984447-221b22-476c9b-32533d

/**
 * Dark colors, should have white text over them.
 */
$color-cordovan: #984447;
$color-true-blue: #476C9B;
$color-raisin-black: #221B22;

/**
 * Bright colors, work well with black text over them.
 */
$color-ash-gray: #AFD0BF;
$color-atomic-tangerine: #FFA686;
$color-brunswick-green: #32533D;