@use 'sass:map';
@import "fonts";

// https://coolors.co/afd0bf-ffa686-984447-221b22-476c9b-32533d

/**
 * Core colors.
 */
$color-raisin-black: #1E020E; // app surface color
/**
 * Background colors should be used for layout purposes to make some parts of an app stand out from background.
 */
$background-color-1: #666666;
$background-color-2: #4B6660;
$background-color-3: #634B66;
$action-color: #B95062; // color for action buttons and similar
$action-secondary-color: #69818C;
/**
 * Accent colors are bright colors for highlights.
 */
$accent-color-danger: #ED264E;
$accent-color-important: #EDDE34;
$accent-color-good-stuff: #26ED4A;
/**
 * Faction colors.
 */
$cosmic-color: #5CA4AD;
$void-color: #F9C225;
$galactic-color: #8EB794;
$dominion-color: #EC3D50;
$quantum-color: #C78DB6;
$astro-color: #C27244;
$corsairs-color: #E43F22;
$obsidian-color: #4DADDA;
$aegis-color: #FB9E4F;
$united-color: #C2CF71;

$font-color: #E8ECED;

$transition-normal: 100ms;

$faction-symbol-to-map: (
        "cosmic": $cosmic-color,
        "void": $void-color,
        "galactic": $galactic-color,
        "dominion": $dominion-color,
        "quantum": $quantum-color,
        "astro": $astro-color,
        "corsairs": $corsairs-color,
        "obsidian": $obsidian-color,
        "aegis": $aegis-color,
        "united": $united-color,
);