@use 'sass:map';
@import "fonts";

// https://coolors.co/afd0bf-ffa686-984447-221b22-476c9b-32533d

/**
 * Core colors.
 */
$app-surface: #1A100C;

/**
 * Layout color should be used for layout purposes to make some parts of an app stand out from background.
 */
$action-color: #D64040; // color for action buttons and similar
$action-color-secondary: #69818C;
$layout-color: #3D1414;

/**
 * Accent colors are bright colors for highlights.
 */
$accent-color-danger: #ED264E;
/**
 * Color for focus/active elements, should match very well with layout-color
 */
$accent-color-important: #FFD84D;
$accent-color-good-stuff: #26ED4A;

/**
 * Faction colors.
 */
$cosmic-color: #5CA4AD;
$void-color: #F9C225;
$galactic-color: #8EB794;
$dominion-color: #EC3D50;
$quantum-color: #C78DB6;
$astro-color: #C27244;
$corsairs-color: #E43F22;
$obsidian-color: #4DADDA;
$aegis-color: #FB9E4F;
$united-color: #C2CF71;
$solitary-color: #FBFCBF;
$cobalt-color: #51998D;
$omega-color: #F5711F;
$echo-color: #E3C434;
$cult-color: #DF6C88;
$ancients-color: #B99B83;
$shadow-color: #92CE80;
$ethereal-color: #18746B;
$lords-color: #A8F9D7;

$font-color: #E8ECED;

$transition-normal: 100ms;

$faction-symbol-to-map: (
        "cosmic": $cosmic-color,
        "void": $void-color,
        "galactic": $galactic-color,
        "dominion": $dominion-color,
        "quantum": $quantum-color,
        "astro": $astro-color,
        "corsairs": $corsairs-color,
        "obsidian": $obsidian-color,
        "aegis": $aegis-color,
        "united": $united-color,
        "solitary": $solitary-color,
        "cobalt": $cobalt-color,
        "omega": $omega-color,
        "echo": $echo-color,
        "cult": $cult-color,
        "ancients": $ancients-color,
        "shadow": $shadow-color,
        "ethereal": $ethereal-color,
        "lords": $lords-color,
);