.input-container {
  display: inline-block;

  .radio-input-container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.4em;
  }

  .radio-input {
    display: inline-block;
  }
}
