@import "commonStyles/constants";

.panel {
  margin: 1em;
  height: fit-content;

  border: 1px solid $background-color-1;
  box-shadow: 0.25em 0.25em rgba($background-color-1, 0.5);
  background-color: rgba($background-color-1, 0.1);
  transition: box-shadow $transition-normal ease-in-out, border-color $transition-normal ease-in-out, background-color $transition-normal ease-in-out;

  .header {
    transition: background-color $transition-normal ease-in-out;
    background-color: $background-color-1;
    padding: 0.25em 0.5em;
    font-family: $font-family-display-1;
  }

  &:hover {
    border: 1px solid $action-color;
    box-shadow: 0.25em 0.25em rgba($action-color, 0.5);
    background-color: rgba($action-color, 0.1);

    .header {
      background-color: $action-color;
    }
  }
}

.content {
  padding: 0.5rem;
}