@import "commonStyles/constants";

.panel {
  height: fit-content;

  border: 1px solid $layout-color;
  box-shadow: 0.25em 0.25em rgba($layout-color, 0.5);
  background-color: rgba($layout-color, 0.1);
  transition: box-shadow $transition-normal ease-in-out, border-color $transition-normal ease-in-out, background-color $transition-normal ease-in-out;

  .header {
    transition: background-color $transition-normal ease-in-out;
    background-color: $layout-color;
    padding: 0.25em 0.5em;
    font-family: $font-family-display-1;
  }

  &:hover {
    border: 1px solid lighten($layout-color, 20%);
    box-shadow: 0.25em 0.25em lighten($layout-color, 5%);
    background-color: lighten($layout-color, 1%);

    .header {
      background-color: lighten($layout-color, 20%);
    }
  }
}

.content {
  padding: 0.5rem;
}