@import "commonStyles/constants";

.agent-details {
  .field {
    margin-top: 0.4em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    white-space: nowrap;
    font-size: 1.1em;
    font-family: $font-family-paragraph;

    .value {
      font-family: $font-family-monospace;
      font-weight: bold;
    }
  }

  .agent {
    font-size: 1.2em;
    .symbol {
      color: $accent-color-important;
      font-family: $font-family-display-1;
    }
    .faction {
      @each $faction-symbol, $faction-color in $faction-symbol-to-color {
        &.#{$faction-symbol} {
          color: $faction-color;
        }
      }
    }
  }

}
