@import "commonStyles/constants";

.agent-transactions-panel {
  height: 25rem;
  overflow-y: scroll;
  .my-transactions-table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    thead {
      background-color: rgba($layout-color, 0.5);
      th {
        padding: 0.25rem 0.5rem;
        font-family: $font-family-header;
        font-size: 1.1rem;
        font-weight: bolder;
      }
    }
    tbody {
      tr {
        text-align: center;
        &:nth-child(odd) {
          background-color: rgba($layout-color, 0.2);
        }
      }
      td {
        padding: 0.25rem 0.5rem;
      }
    }
    .name {
      text-align: left;
    }
    .aline-right {
      text-align: right;
    }
  }
}
