@import 'commonStyles/constants.scss';

.tooltip-container {
  display: inline-block;
  position: relative;

  button {
    color: $font-color;
    transition: color $transition-normal ease-in-out;

    &:hover {
      color: mix($accent-color-important, $font-color);
    }

    &.is-active {
      color: $accent-color-important;
    }
  }

  button.tooltip-button {
    font-size: 1.2em;
    background: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: none;
  }

  .text-to-highlight {
    border-bottom: 2px dashed rgba($font-color, 0.8);
    color: $accent-color-important;
    transition: border-bottom-color $transition-normal ease-in-out;

    &:hover {
      border-color: $accent-color-important;
    }
  }

  .tooltip-button, .text-to-highlight {
    cursor: pointer;
  }
}

.tooltip-text {
  font-size: 0.9rem;
  position: absolute;
  transform: translateY(calc(-100% - 0.2em)) translateX(-50%);
  background-color: rgba(black, 0.8);
  font-weight: 400;
  top: 0;
  white-space: nowrap;
  padding: 0.3em 0.5em;
  line-height: 1.6em;
  color: $font-color;
  z-index: 1;
}