@import "commonStyles/constants";

.agent-transactions-panel {
  max-height: 25rem;

  table.transactions-table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;

    .numeric-field {
      text-align: right;
    }

    thead {
      background-color: rgba($layout-color, 0.5);

      th {
        padding: 0.25rem 0.5rem;
        font-family: $font-family-header;
        font-size: 1.1rem;
        font-weight: bolder;
        text-align: left;
      }
    }

    tbody {
      tr {
        text-align: left;

        &:nth-child(odd) {
          background-color: rgba($layout-color, 0.2);
        }
      }

      td {
        padding: 0.25rem 0.5rem;

        &.buy-transaction {
          color: $accent-color-danger;
        }

        &.sell-transaction {
          color: $accent-color-good-stuff;
        }
      }
    }
  }
}
