@import "commonStyles/constants";

div.timeline-container {
  padding-top: 0.3em;
  padding-bottom: 1em;
  .progress-bar-container {
    width: 100%;
    border: 1px solid $accent-color-danger;
    padding: 1px;

    .progress-bar {
      background-color: $accent-color-danger;
      height: 5px;
      position: relative;

      .tooltip {
        width: fit-content;
        font-size: 0.9em;
        color: rgba($font-color, 0.7);
        font-weight: $font-normal;

        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        transform: translateX(50%);
      }
      &:after {
        content: '';
        height: 7px;
        width: 7px;
        background-color: $accent-color-danger;
        position: absolute;
        top: calc(100% + 3px);
        right: -3px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      }
    }
  }
}