@import "commonStyles/constants";

section.ship {
  border: 2px dashed $layout-color;
  height: fit-content;
  padding: 0.5rem;

  .frame-image {
    height: 9rem;
    width: 9rem;
  }

  .header-info {
    margin-bottom: 0.5rem;

    .ship-name {
      font-family: $font-family-display-1;
    }

    .role, .frame {
      font-family: $font-family-header;
    }

    .ship-location {
      font-family: $font-family-monospace;
      font-size: 1.2em;
    }

    .ship-name, .role, .frame, .ship-location {
      white-space: nowrap;
    }

    .role {
      text-transform: capitalize;
    }
  }

  .info-bit {
    //margin: 0.25em 0.25em 0 0;
    display: block;
    border: 2px solid $layout-color;

    .info-bit-header {
      display: inline-block;
      padding: 0.25em 0.5em;
      height: 100%;
      width: 4em;

      &.column-header {
        width: 100%;
      }

      background-color: $layout-color;
      text-align: right;
      font-family: $font-family-header;
    }

    .info-bit-content {
      display: inline-block;
      padding: 0.25em;

      .dimmed {
        color: rgba($font-color, 0.5);
      }
    }
  }
}