.ships-panel {
  min-height: 20em;
  max-height: 30em;
  overflow-y: scroll;

  display: grid;
  gap: 1rem;
  padding: 1rem;

  grid-template-columns: 1fr 1fr;

  &.narrow-panel {
    grid-template-columns: 1fr;
  }
}