@import "commonStyles/fonts";
@import "commonStyles/constants";

@mixin buttonStyle($className, $base-color) {
  #{$className} {
    background-color: rgba($base-color, 0.5);
    width: 7em;

    &:active {
      background-color: rgba($base-color, 1);
    }
  }
}

.agent-identity {
  padding-top: 0;

  .identity-variant-bar {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
  }

  @each $faction-symbol, $faction-color in $faction-symbol-to-color-map {
    .selected-faction.#{$faction-symbol} {
      color: $faction-color;
      font-weight: $font-bold;
      font-family: $font-family-header;
    }

    .factions-buttons {
      .#{$faction-symbol} {
        background-color: rgba($faction-color, 0.5);
        width: 7em;

        &:active {
          background-color: rgba($faction-color, 1);
        }
      }
    }
  }

  .factions-buttons {
    display: flex;
    gap: 1em;
    font-family: $font-family-header;
    flex-wrap: wrap;
  }

  .agent-symbol-input {
    width: 16em;
  }

  button.create-identity {
    font-size: 1.2em;
    margin-top: 1em;
    font-family: $font-family-header;
    font-weight: $font-semi-bold;
  }
}

.agent-name {
  color: $accent-color-important;
}

section.token-selector {
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba($action-color, 0.1);
  }

  th {
    text-align: left;
    font-family: $font-family-header;
    font-size: 1.1rem;
    font-weight: bolder;
    padding: 0.25em 0.5em;
    background-color: rgba($action-color, 0.3);
  }

  tbody {
    td {
      padding: 0.25rem 0.5rem;
    }

    tr:nth-child(even) {
      background-color: rgba($action-color, 0.1);
    }

    tr {
      td:nth-child(3) {
        white-space: nowrap;
      }
    }

    tr:hover {
      background-color: rgba($action-color, 0.2);
    }

    button {
      margin-right: 0.25em;
    }

    .current-id-label {
      margin-right: 0.25em;
      font-style: italic;
    }
  }
}

div.token-display {
  width: 20rem;
  display: flex;
  align-items: center;

  .displayed-token {
    width: 12rem;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-style: italic;
    font-size: 0.8rem;
  }
}
