@import "commonStyles/fonts";
@import "commonStyles/constants";

@mixin buttonStyle($className, $base-color) {
  #{$className} {
    background-color: rgba($base-color, 0.5);
    width: 7em;
    &:active {
      background-color: rgba($base-color, 1);
    }
  }
}

.agent-identity {
  width: 40em;
  .identity-variant-bar {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
  }

  .token-action-items {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
  }

  .token-data {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  @each $faction-symbol, $faction-color in $faction-symbol-to-map {
    .selected-faction.#{$faction-symbol} {
      color: $faction-color;
      font-weight: $font-bold;
      font-family: $font-family-header;
    }

    .factions-buttons {
      .#{$faction-symbol} {
        background-color: rgba($faction-color, 0.5);
        width: 7em;
        &:active {
          background-color: rgba($faction-color, 1);
        }
      }
    }
  }

  .factions-buttons {
    display: flex;
    gap: 1em;
    font-family: $font-family-header;
    flex-wrap: wrap;
  }

  .agent-symbol-input {
    width: 16em;
  }

  button.create-identity {
    font-size: 1.2em;
    margin-top: 1em;
    font-family: $font-family-header;
    font-weight: $font-semi-bold;
  }
}

.agent-name {
  color: $accent-color-important;
}