@import "commonStyles/constants";

section.server-status {

  h2 {
    display: flex;
    gap: 1em;
    justify-content: space-between;
  }

  button.refresh-button {
    font-size: 1rem;
  }

  span {
    font-weight: $font-semi-bold;
    .stat {
      font-weight: $font-normal;
      white-space: nowrap;

      &.server-up {
        color: $color-screaming-green;
      }

      &.server-down {
        color: $color-bittersweet;
      }
    }
  }

  .reset-timeframe-section {
    display: flex;
    gap: 0.3em;
  }
}