@import "commonStyles/constants";

.panel-header {
  display: flex;
  align-items: center;
  gap: 0.5em;

  .updated-at {
    font-family: $font-family-paragraph;
    font-style: italic;
    font-weight: 200;
    color: rgba($font-color, 0.5);
  }
}

.marketplace-panel {
  .import-export-row {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    border: 2px dashed $layout-color;

    .label {
      font-size: 1.4rem;
      padding: 0.5em;
    }

    .import-export-icons {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      align-items: center;
      padding: 0.5em 0.5em 0.5em 0;

      img {
        height: 2rem;
        width: 2rem;
        border: 3px solid $layout-color;
        transition: $transition-normal;

        &:hover {
          border-color: lighten($layout-color, 20%);
        }
      }
    }
  }

  .market-table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: rgba($layout-color, 0.5);

      th {
        text-align: left;
        font-family: $font-family-header;
        font-size: 1.1rem;
        font-weight: bolder;
        padding: 0.25em 0.5em;
      }
    }

    tbody {
      tr:nth-child(odd) {
        background-color: rgba($layout-color, 0.2);
      }
      td {
        img {
          height: 2rem;
          width: 2rem;
          border: 3px solid $layout-color;
          transition: $transition-normal;

          &:hover {
            border-color: lighten($layout-color, 20%);
          }
        }
      }
    }
  }
}
