@import "commonStyles/constants";

.factions-container {
  height: 42em;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  display: grid;
  gap: 1rem;
  padding: 1rem;

  grid-template-columns: 1fr 1fr;

  &.narrow-panel {
    grid-template-columns: 1fr;
  }
}

.faction-container {
  scroll-snap-align: end;
  scroll-margin: 1rem;
  background-position: center;
  background-size: cover;

  @each $faction-symbol, $faction-color in $faction-symbol-to-color-map {
    &.#{$faction-symbol} {
      .name, .symbol-and-hq {
        color: $faction-color;
      }
      background-image: url('/#{$faction-symbol}-banner.webp');
      border: 1px solid rgba($faction-color, 0.5);

      &:hover {
        border: 1px solid $faction-color;
      }
    }
  }

  .content-wrapper {
    padding: 1em;
    background-color: rgba(black, 0.6);
    transition: background-color $transition-normal ease-in-out;
    height: 100%;
    box-sizing: border-box;

    &:hover {
      background-color: rgba(black, 0.3);
    }
  }

  .name, .symbol-and-hq, .traits {
    margin-bottom: 1rem;
  }

  .name {
    font-family: $font-family-display-1;
    font-size: 2rem;
    line-height: 2rem;
  }

  .symbol-and-hq {
    font-family: $font-family-monospace;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
  }

  .traits {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    font-family: $font-family-header;
    font-style: italic;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bolder;
  }

  .description {
    font-family: $font-family-paragraph;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}