@import "../../../commonStyles/constants";

@mixin factionStyling($className, $background-image, $faction-color) {
  &#{$className} {
    background-image: url(#{$background-image});
    border: 1px solid rgba($faction-color, 0.5);

    &:hover {
      border: 1px solid $faction-color;
    }
  }
}

.factions-container {
  height: 42em;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.faction-container {
  scroll-snap-align: end;
  scroll-margin: 1rem;
  margin: 1em 0;

  background-position: center;
  background-size: cover;

  @include factionStyling('.cosmic', '/cosmic-banner.webp', $cosmic-color);
  @include factionStyling('.void', '/void-banner.webp', $void-color);
  @include factionStyling('.galactic', '/galactic-banner.webp', $galactic-color);
  @include factionStyling('.dominion', '/dominion-banner.webp', $dominion-color);
  @include factionStyling('.quantum', '/quantum-banner.webp', $quantum-color);
  @include factionStyling('.astro', '/astro-banner.webp', $astro-color);
  @include factionStyling('.corsairs', '/corsairs-banner.webp', $corsairs-color);
  @include factionStyling('.obsidian', '/obsidian-banner.webp', $obsidian-color);
  @include factionStyling('.aegis', '/aegis-banner.webp', $aegis-color);
  @include factionStyling('.united', '/united-banner.webp', $united-color);

  .content-wrapper {
    padding: 1em;
    background-color: rgba(black, 0.5);
    transition: background-color $transition-normal ease-in-out;

    &:hover {
      background-color: rgba(black, 0.3);
    }
  }

  .name, .symbol-and-hq, .traits {
    margin-bottom: 1rem;
  }

  .name {
    font-family: $font-family-display-1;
    font-size: 2rem;
    line-height: 2rem;
  }

  .symbol-and-hq {
    font-family: $font-family-monospace;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
  }

  .traits {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    font-family: $font-family-header;
    font-style: italic;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bolder;
  }

  .description {
    font-family: $font-family-paragraph;
    font-size: 1rem;
    line-height: 1.4rem;
  }

}